<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-brand" (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
    <button class="navbar-brand" (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
    <a class="navbar-brand" routerLink="/">Register a Bike</a>&nbsp;
    <a class="navbar-brand" routerLink="profile" *ngIf="auth.loggedIn">See your Profile</a>
    <a class="navbar-brand" routerLink="admin" *ngIf="auth.loggedIn">Get Bikes</a>
</nav>
